body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #0D2436;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ballot .container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}
.ballot .container .categoryWrapper {
  display: block;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
.ballot .container .categoryWrapper .category .categoryTitle {
  color: #fff;
  background-color: grey;
}
.ballot .container .categoryWrapper .category .categoryCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: auto;
}
.ballot .container .categoryWrapper .category .categoryCard .awardsCard {
  max-width: 30%;
  margin-right: 5%;
  border: 2px transparent;
}
.ballot .container .categoryWrapper .category .categoryCard .awardsCard:nth-child(3n) {
  margin-right: 0;
}
.ballot .container .categoryWrapper .category .categoryCard .awardsCard picture {
  display: block;
}
.ballot .container .categoryWrapper .category .categoryCard .awardsCard picture img {
  width: 100%;
}
.ballot .container .categoryWrapper .category .categoryCard .awardsCard .select {
  max-width: 200px;
  width: 100%;
  margin: auto;
  cursor: pointer;
  background-color: #000;
}
.ballot .container .categoryWrapper .category .categoryCard .awardsCard .select span {
  display: block;
  padding: 20px;
  border: 1px solid #000;
}
