.ballot {
  .container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    .categoryWrapper {
      display: block;
      width: 100%;
      max-width: 1440px;
      margin: auto;
      .category {
        .categoryTitle {
          color: #fff;
          background-color: grey;
        }
        .categoryCard {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          max-width: 1440px;
          margin: auto;
          @media screen and (max-width: 768px) {
            display: block;
          }
          .awardsCard {
            max-width: 30%;
            margin-right: calc(5% - 6px);
            border: 2px solid transparent;
            &.selected {
              border: 2px solid #099BB3;
              color: #CCCCCC;
            }
            &:nth-child(3n) {
              @media screen and (min-width: 769px) {
                margin-right: 0;
              }
            }
            @media screen and (max-width: 768px) {
              max-width: 100%;
              justify-content: center;
              margin: auto;
            }
            picture {
              display: block;
              img {
                width: 100%;
              }
            }
            .select {
              max-width: 200px;
              width: 100%;
              margin: auto;
              cursor: pointer;
              background-color: #000;
              &:hover {
                background-color: #34AC9C;
              }
              span {
                display: block;
                padding: 20px;
                border: 1px solid #000;
              }
            }
          }
        }
      }
    }
  }
  .submitBallot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 1;

    &.notAllowed {
      cursor: not-allowed;
      opacity: 0.5;
    }

    span {
      border: 1px solid #009B86;
      padding: 10px;
      background-color: #009B86;
      &:hover {
        background-color: #34AC9C
      }
    }
  }
  .ballotModel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    &.hide {
      display: none;
    }

    .modelContainer {
      width: 500px;
      height: 500px;
      background-color: #fff;
      color: #000;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        max-width: 500px;
        max-height: 500px;
        width: 80vw;
      }

      .close {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }
}
